{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="{% static '/img/apple-icon.png' %}">
  <link rel="icon" type="image/png" href="{% static '/img/favicon.png' %}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    FreeLancers - Pasto
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Files -->
  <link href="{% static '/css/material-kit.css' %}" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
</head>

<body class="landing-page sidebar-collapse">
  <nav class="navbar navbar-transparent navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="100" id="sectionsNav">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="{% url 'bienvenida' %}">
          Comunidad de FreeLancers - PASTO </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav ml-auto">
            <li class="dropdown nav-item">
              <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                <i class="material-icons">apps</i> Nosotros
              </a>
              <div class="dropdown-menu dropdown-with-icons">
                <a href="{% static '/index.html" class="dropdown-item">
                  <i class="material-icons">layers</i> Lista de desarrolladores
                </a>
                <a href="https://demos.creative-tim.com/material-kit/docs/2.1/getting-started/introduction.html" class="dropdown-item">
                  <i class="material-icons">content_paste</i> Quiero unirme!
                </a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:void(0)" onclick="scrollToDownload()">
                <i class="material-icons">how_to_reg</i> Soy FreeLancer
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="https://www.linkedin.com/in/andres-moreno-ing-dev-web/" target="_blank" data-original-title="Lider en Linkedin">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="https://www.facebook.com/Andres.Moreno.FM" target="_blank" data-original-title="Lider en Facebook">
                <i class="fa fa-facebook-square"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="https://www.instagram.com/andresmd09/" target="_blank" data-original-title="Lider en Instragram">
                <i class="fa fa-instagram"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="page-header header-filter" data-parallax="true" style="background-image: url(' {% static '/img/pasto.jpg' %}' )">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            {% block titulo %}
            <h1 class="title">Sí lo puedes imaginar, lo puedes crear!</h1>
            <h4>Nuestro objetivo es crear una comunidad que permita el agil desarrollo de Pasto en todo sus campos, teniendo en cuenta el gran potencial que se encuentra en esta hermosa ciudad.</h4>
            {% endblock %}
            <br>
          </div>
        </div>
      </div>
    </div>
    <div class="main main-raised">
      <div class="container">
        {% block contenido %}
        <div class="section text-center">
          <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
              <h2 class="title">¿Es para ti ser FreeLancer?</h2>
              <h5 class="description">Freelancer significa trabajar para tí mismo, eres libre de escoger tus proyectos, tu horario, eres tú jefe y nadie te controla. Pero es cierto que necesitas tener pasion por lo que haces, solo de esta manera seras capaz de dar lo mejor de ti, 
                no importa si eres fotografo, modelo, diseñador de cualquier tipo, ingeniero,tecnico o trabajador empirico, 
                sí tienes años trabajando o eres recien graduado, unete a esta comunidad, busquemos trabajo juntos, compartamos nuestros proyectos e ideas, hagamonos conocer.
                No salgamos a otras ciudades buscando las oportunidades que estan aqui, empecemos por evolucionar nuestra ciudad creando más trabajo mediante la comunicacion
                de necesidades.</h5>
              </div>
            </div>
            <div class="features">
              <div class="row">
                <div class="col-md-4">
                  <div class="info">
                    <div class="icon icon-info">
                      <i class="material-icons">content_paste</i>
                    </div>
                    <h4>Únete, comparte lo que te gusta hacer, conoce personas de la ciudad, forma alianzas.</h4>
                    <a href="{% url 'lancer_create' %}" class="btn btn-success btn-lg">Quiero unirme!</a>
                  </div>
                </div>
                
                <div class="col-md-4">
                  <div class="info">
                    <div class="icon icon-info">
                      <i class="material-icons">group</i>
                    </div>
                    <h4>Nuestra comunidad - Lista de freelacers registrados en el portal. </h4><br>
                    <a href="#" class="btn btn-info btn-lg">Lista</a>
                  </div>
                </div>
                
                <div class="col-md-4">
                  <div class="info">
                    <div class="icon icon-info">
                      <i class="material-icons">location_city</i>
                    </div>
                    <h4>Talento Pastuso, Nariñense y Colombiano.</h4> <br> <br>
                    <a href="#" class="btn btn-primary btn-lg">Ver publicaciones</a>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
          {% endblock %}
          
          
          
          <div class="section section-contacts">
            <div class="row">
              <div class="col-md-8 ml-auto mr-auto">
                <h2 class="text-center title">Dejanos una sugerencia o comentario.</h2>
                <h4 class="text-center description">Cualquier sugerencia o comentario sera respondida en un lapso de 24hr.</h4>
                <form class="contact-form">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="bmd-label-floating">Tu nombre</label>
                        <input type="email" class="form-control">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="bmd-label-floating">Tu Correo</label>
                        <input type="email" class="form-control">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="exampleMessage" class="bmd-label-floating">Tu mensaje</label>
                    <textarea type="email" class="form-control" rows="4" id="exampleMessage"></textarea>
                  </div>
                  <div class="row">
                    <div class="col-md-4 ml-auto mr-auto text-center">
                      <button class="btn btn-primary btn-raised">
                        Enviar
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer footer-default">
        <div class="container">
          <nav class="float-left">
            <ul>
              <li>
                <a href="#">
                  Freelancers Pasto
                </a>
              </li>
            </ul>
          </nav>
          <div class="copyright float-right">
            &copy;
            <script>
              document.write(new Date().getFullYear())
            </script>, hecho por
            <a href="#" target="_blank">Est. Andres Felipe Moreno</a> por una mejor ciudad.
          </div>
        </div>
      </footer>
      <!--   Core JS Files   -->
      <script src="{% static '/js/core/jquery.min.js' %}" type="text/javascript"></script>
      <script src="{% static '/js/core/popper.min.js' %}" type="text/javascript"></script>
      <script src="{% static '/js/core/bootstrap-material-design.min.js' %}" type="text/javascript"></script>
      <script src="{% static '/js/plugins/moment.min.js' %}"></script>
      <!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
      <script src="{% static '/js/plugins/bootstrap-datetimepicker.js' %}" type="text/javascript"></script>
      <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
      <script src="{% static '/js/plugins/nouislider.min.js' %}" type="text/javascript"></script>
      <!-- Control Center for Material Kit: parallax effects, scripts for the example pages etc -->
      <script src="{% static '/js/material-kit.js' %}" type="text/javascript"></script>
    </body>
    
    </html>