{% extends "bienvenida.html" %}
{% load static %}

{% block titulo %}
<h1 class="title">Crear mi perfil</h1>
{% endblock titulo%}

{% block contenido %}
<form method="POST" enctype="multipart/form-data">
    <div class="section text-center">
        <h2 class="title">Formulario de registro</h2>
        <div class="team">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-text card-header-primary">
                            <div class="card-text">
                                <h4 class="card-title">Quiero ser FreeLancer!</h4>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Digite su nombre completo</label>
                                {{ form.nombre}}
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock contenido %}