{% extends 'bienvenida.html' %}
{% load static %}

{% block titulo %}
<h1 class="title"> Lista de FreeLancers</h1>
{% endblock titulo%}

{% block contenido %}

<div class="section text-center">
  <h2 class="title">Nuestro talento</h2>
  <div class="team">
    <div class="row">
      <div class="col-md-4">
        {% for p in lista_lancers.all %}
        <div class="team-player">
          <div class="card card-plain">
            <div class="col-md-6 ml-auto mr-auto">
              <img src="{{ p.imagen.url }}" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
            </div>
            <h4 class="card-title">{{ p.nombre}}
              <br>
              <small class="card-description text-muted">{{p.ocupacion}}
              </small>
            </h4>
            <div class="card-body">
              <p class="card-description">{{ p.descripcion}}
              </p>
            </div>
            <div class="card-footer justify-content-center">
              <a href="{{ p.twitter}}" class="btn btn-link btn-just-icon"><i class="fa fa-twitter"></i></a>
              <a href="{{ p.instagram}}" class="btn btn-link btn-just-icon"><i class="fa fa-instagram"></i></a>
              <a href="{{ p.facebook}}" class="btn btn-link btn-just-icon"><i class="fa fa-facebook-square"></i></a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      
      
    </div>
  </div>
</div>

{% endblock %}